header{
  background:#00ff00 url('https://thumbs.dreamstime.com/z/frame-composition-roses-makeup-cosmetics-pastel-pink-background-flat-lay-top-view-valentines-day-frame-composition-130443987.jpg') no-repeat fixed center;
/*  background-position: 0px 0px;*/
  color:#ffffff;
  background-size: 100% auto;
align-items: center;
}

body{
  padding:10px;
  height:100%;
}

h1{text-align:center;
text-transform:uppercase;
font-family:"Times New Roman"serif;
text-weight:bold;}
nav a{
  float:inherit;
    height:50px;
  width: 125px;
  background: #ffffff;
  display:inline-block;
  margin:5px;
  opacity:0.45;
text-decoration: none;
  border-radius: 5px;
/*  color:#000000;*/
text-align: center;
vertical-align: middle;

  /*box-sizing*/
}
nav a{
  color:#000000;
  margin-left: 4%;
	margin-right: 7%;
}
nav a:hover{
  opacity:1;
  -webkit-border-radius: 30px 30px 30px 30px;
	border-radius: 30px 30px 30px 30px;
}
.active{

  background: #ffffff;
  color:#9904d;

  /*margin:5px;
  border:2px solid #ffffff;*/
  border-radius: 5px;
  opacity:1;
  /*box-sizing*/
}
nav{
  horizontal-align:middle;
  vertical-align:middle;
}

h2{
  color:#52183b;
  text-shadow:inherit;
  text-transform:uppercase;
  font-size: 25px;
  font-weight:bold;
}

.right{
  float:left;
  display:inline-block;
  background:#fff2e6;
  color:#000000;
  font-size: 28px;
  font-family: serif,sans-serif,"Times New Roman",vardana;

/*  background-size: 80% 100%;*/
width:73%;
/*  height:100%;*/
height:45em;
padding:2%;

}

.left{
  float:left;
  background:#73264d;
/*  display:inline-block;*/
  padding: 1% 1% 0 1%;
  width:21%;
 height:81em;;


}
.left img{
  border: solid 1.5px black;
 width: 90%;
 align-content: center;
 height:20em;
}
/*main{
  display:inline-block;
}*/
/*aside a{
  width:20%;
  display:inline-block;
  border:2px solid black;
  float:left;
}*/
table.right{
	color:#06425C;
  width:inherit;
	border-spacing: 0;
	/*border: 3px solid white;*/
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 0 0 5px 5px;
}
/*Alternate colors between even and odd weeks*/
tr:nth-child(odd) {
	background:#fae6ea;
}
tr:nth-child(even) {
	background:#f7dce7 ;
}

/*To curve the bottom, we need to curve the
row and the element.  And each element needs to
curve a different corner.*/
tr:last-child{
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 0 0 5px 5px;
}

.right td{
	width:25%;
/*	height:75px;*/
	vertical-align:top;
  text-align: center;
  /*  border:2px solid white;*/
    opacity:.7;
    padding: 25px ;

}
td:first-child{
  text-align: left;
}
.right td:hover{
  opacity:1;
  border-radius:35px;
}

tr:last-child>td:first-child {
	-webkit-border-radius: 0 0 0 5px;
	border-radius: 0 0 0 5px;
  width:50%;
}

tr:last-child>td:last-child{
	-webkit-border-radius: 0 0 5px 0;
	border-radius: 0 0 5px 0;
}

/*Format the caption
Use border-radius for just some corners*/
/*.right caption{
	text-transform: uppercase;
	background-color: #666666;
	color:#ffffff;
	font-size: 150%;
	-webkit-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
}*/

/*Format common heading and element attributes*/
/*.right th,.right td{}*/
  .right td{
	margin: 2px;
	padding-bottom: 2px;
}

/*Format the table headings*/
.right th{
	text-align: center;
  text-shadow: 2px 2px #7d5464;
/*	background: #a0f684;*/
  color:#ffffff;
  -webkit-border-radius:5px 5px 0 0;
  border-radius: :5px 5px 0 0;
  padding:10px;
  border:1px 1px 2px 2px solid yellow;
  background: #a0f684;
	background: -moz-linear-gradient(top, #f7cdde 0%,#e6ffb3 100%);
	background: -webkit-linear-gradient(#f7cdde 0%, #e6ffb3  100%);
	background: -o-linear-gradient(#f7cdde 0%, #e6ffb3  100%);
	background: linear-gradient(#f7cdde 0%, #e6ffb3  100%);
}

/*Set the size and alignment for elements*/
@import url('https://fonts.googleapis.com/css?family=Exo+2:900');
h1 {
	font-family: 'Exo 2', sans-serif;
	font-size: 8.5vw;
	color: white;
	padding: 5rem 0;
	text-shadow: 0px 4px 48px rgba(255,255,255,0.2);
}


.container {
	position: relative;
	display: flex;
	align-content: center;
	justify-content: center;
	background: {
		image: linear-gradient(to bottom,  #00c9ff 0%, #92fe9d 100%), url(https://images.unsplash.com/photo-1502726299822-6f583f972e02);
		blend-mode: multiply;
		size: cover;
	}
	overflow: hidden;
}

.bubbles-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    max-width: 15rem;
    transform: translateX(-50%);
	opacity: 0.75;
	overflow: visible;
}

.bubbles {
	width: 100%;
	height: auto;

	circle {
		stroke: white;
		fill: none;
	}

	> g > g:nth-of-type(3n) circle {
		stroke: #87f5fb;
	}

	> g > g:nth-of-type(4n) circle {
		stroke: #8be8cb;
	}

}

.bubbles-large {
	overflow: visible;

	> g {
		transform: translateY(2048px);
		opacity: 0;
		will-change: transform, opacity;
	}

	g:nth-of-type(1) {
		animation: up 6.5s infinite;

		g {
			transform: translateX(350px);
		}

		circle {
			animation: wobble 3s infinite ease-in-out;
		}

	}

	g:nth-of-type(2) {
		animation: up 5.25s 250ms infinite;

		g {
			transform: translateX(450px);
		}

		circle {
			animation: wobble 3s infinite ease-in-out;
		}

	}

	g:nth-of-type(3) {
		animation: up 6s 750ms infinite;

		g {
			transform: translateX(700px);
		}

		circle {
			animation: wobble 3s infinite ease-in-out;
		}

	}

	g:nth-of-type(4) {
		animation: up 5.5s 1.5s infinite;

		g {
			transform: translateX(500px);
		}

		circle {
			animation: wobble 3s infinite ease-in-out;
		}

	}

	g:nth-of-type(5) {
		animation: up 6.5s 4s infinite;

		g {
			transform: translateX(675px);
		}

		circle {
			animation: wobble 3s infinite ease-in-out;
		}

	}

}

.bubbles-small {
	overflow: visible;

	> g {
		transform: translateY(2048px);
		opacity: 0;
		will-change: transform, opacity;
	}

	g circle {
		transform: scale(0);
	}

	g:nth-of-type(1) {
		animation: up 5.25s infinite;

		g {
			transform: translateX(350px);
		}

		circle {
			animation: wobble 3s infinite ease-in-out;
		}

	}

	g:nth-of-type(2) {
		animation: up 5.75s infinite;

		g {
			transform: translateX(750px);
		}

		circle {
			animation: wobble 3s infinite ease-in-out;
		}

	}

	g:nth-of-type(3) {
		animation: up 5.25s 250ms infinite;

		g {
			transform: translateX(350px);
		}

		circle {
			animation: wobble 3s 250ms infinite ease-in-out;
		}

	}

	g:nth-of-type(4) {
		animation: up 5.75s 325ms infinite;

		g {
			transform: translateX(180px);
		}

		circle {
			animation: wobble 3s 325ms infinite ease-in-out;
		}

	}

	g:nth-of-type(5) {
		animation: up 6s 125ms infinite;

		g {
			transform: translateX(350px);
		}

		circle {
			animation: wobble 3s 250ms infinite ease-in-out;
		}

	}

	g:nth-of-type(6) {
		animation: up 5.13s 250ms infinite;

		g {
			transform: translateX(650px);
		}

		circle {
			animation: wobble 3s 125ms infinite ease-in-out;
		}

	}

	g:nth-of-type(7) {
		animation: up 6.25s 350ms infinite;

		g {
			transform: translateX(480px);
		}

		circle {
			animation: wobble 3s 325ms infinite ease-in-out;
		}

	}

	g:nth-of-type(8) {
		animation: up 7s 200ms infinite;

		g {
			transform: translateX(330px);
		}

		circle {
			animation: wobble 3s 325ms infinite ease-in-out;
		}

	}

	g:nth-of-type(9) {
		animation: up 6.25s 233ms infinite;

		g {
			transform: translateX(230px);
		}

		circle {
			animation: wobble 3s 275ms infinite ease-in-out;
		}

	}

	g:nth-of-type(10) {
		animation: up 6s 900ms infinite;

		g {
			transform: translateX(730px);
		}

		circle {
			animation: wobble 2s 905ms infinite ease-in-out;
		}

	}

}

@keyframes wobble {

	33% {
		transform: translateX(-50px);
	}

	66% {
		transform: translateX(50px);
	}

}

@keyframes up {

	0% {
		opacity: 0;
	}

	10%, 90% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		transform: translateY(-1024px);
	}

}
